@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #2d3950;
}
img{
    max-height: 100%;
    display: block;
}
.container{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

/*header part css strat*/
header{
    padding: 31px;
    background-color: #f6f9f9;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{}

nav{
    width: 80%;
    float: left;
}
nav ul {
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    /* margin-left: 45px; */
    padding-left: 45px;
}
nav ul li a{
    color: #2d3950;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s;
    display: block;
    padding: 10px 0;
}
nav ul li a:hover{
    color: #15a4fa;
}

/*header part css end*/

/*banner part css start*/
.banner-section{
    background-image: url(../images/banner.png);
    min-height: 100Vh;
    background-size: cover;
    /* background-position: 125px; */
    background-repeat: no-repeat;
    position: relative;
    /* transform: translate(-50%,0); */
}
.banner-content{
    position: absolute;
    top: 50%;
    /* text-align: center; */
    /* width: 100%; */
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 50%;
}
.banner-content h1{
    color: #f6f9f9;
    font-size: 120px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner-content hr{
    /* color: #15a4fa; */
    border-color: #15a4fa;
    margin: 30px 0;
}
.banner-content p{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.banner-content a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #15a4fa;
    padding: 18px 35px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.banner-content a:hover{
    background-color: #15a4fa;

}
.arrow-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #fff;
    font-size: 30px;
    transform: translate(-50%,0);
}

/*banner part css end*/

/*about part css start*/

.about-section{
    background-color: #f6f9f9;
    text-align: center;
    padding: 100px 0;
}
.about-section h2{
    font-size: 40px;
    font-weight: 400;
    /* padding: 15px; */
    /* padding-top: 75px; */
    color: #2d3950;
    margin-bottom: 30px;
}
.about-section p{
    font-size: 20px;
    font-weight: 400;
    /* padding-bottom: 100px; */
    font-color: #c8c9c9;
    color: #c8c9c9;
    line-height: 1.6;
}

/*about part css end*/

/*feature part css start*/

.feature-section{
    padding: 50px 0px;
    color: #ffffff;
}
.feature{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 15px;
}
.feature h4{
    font-size: 22px;
    color: #2d3950;
    margin-top: 30px;
    margin-bottom: 20px;
}
.feature p{
    font-size: 20px;
    font-weight: 400;
    /* padding-bottom: 100px; */
    font-color: #c8c9c9;
    color: #c8c9c9;
    line-height: 1.6;
}
.feature-logo{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+50,5fc3ff+50 */
background: #48baff; /* Old browsers */
background: -moz-linear-gradient(left,  #48baff 50%, #5fc3ff 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #48baff 50%,#5fc3ff 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48baff 50%,#5fc3ff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */

    /* margin: auto; */
    height: 100px;
    width: 100px;
    margin: auto;
    line-height: 8em;
}
.feature-logo i{
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #0000008f;
}

/*feature part css end*/

/*work part css start*/
.work-section{
    background-color: #f6f9f9;
    text-align: center;
    padding: 80px 0;
}
.work-headng{
    margin-bottom: 70px;
}
.work-headng h2{
    font-size: 40px;
    font-weight: 400;
    /* padding: 15px; */
    /* padding-top: 75px; */
    color: #2d3950;
    margin-bottom: 10px;
}
.work-headng p{
    font-size: 15px;
    font-weight: 400;
    color: #c8c9c9;
    line-height: 1.6;
}

.work{
    width: 33.33%;
    float: left;
    
    padding: 15px;
}
.work-detail{
    position: relative;
}
.overlay{
    position: absolute;
    background: #48baff9e;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
    top: 0;
    left: 0;
}
.work:hover .overlay{
    opacity: 1;
}
.work img{
    width: 100%;
}
.work .search{
    position: absolute;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 3px;
    top: 60%;
    left: 40%;
    transform: translate(-40%, 60%);
    transition: all 0.4s;
    opacity: 0;
}  /*or .work a.search{}*/

.work:hover .search{
        opacity:   1;
        top: 50%;
        left: 40%;
        transform: translate(-40%, 50%);
}
.work .link{
    position: absolute;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 3px;
    top: 60%;
    left: 60%;
    transform: translate(-60%, 60%);
    opacity: 0;
    transition: all 0.4s;
}
.work:hover .link{
    opacity: 1;
    top: 50%;
    left: 60%;
    transform: translate(-60%, 50%);
}


/*work part css end*/

/*contact part css start*/

.contact-section{
    background-image: url(../images/contact.png);
    padding: 70px 0 100px;
    position: relative;
    z-index: 1;
}
.contact-overlay{
    position: absolute;
    background: #2d3950b8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.contact-section h3{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact-section p{
    font-size: 15px;
    font-weight: 400;
    color: #c8c9c9;
    line-height: 1.6;
    text-align: center;
}

form{
    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
}
form input{
    width: 100%;
    border: 1px solid #c8c9c9;
    padding: 15px;
    margin-bottom: 15px;
    background: #ff000000;
    border-radius: 3px;
}
form textarea{
    width: 100%;
    border: 1px solid #c8c9c9;
    padding: 15px;
    margin-bottom: 15px;
    background: #ff000000;
    border-radius: 3px;
}
.checkbox{color: #fff;float: left;}
.checkbox input{
    width: auto;
}
.checkbox span{}


.btn{
    float: right;
}
.btn button{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #15a4fa;
    padding: 10px 40px;
    display: inline-block;
    /* margin-top: 30px; */
    border-radius: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    background-color: transparent;
}

/*contact part css end*/

/*footer part css start*/
footer{
    background-color: #f6f9f9;
    padding: 33px 0;
}
.copyright{
    width: 50%;
    float: left;
}
.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: #c8c9c9;
    line-height: 1.6;
    text-align: center;
}
.social-link{
    width: 50%;
    float: left;
}
.social-link ul{
    text-align: right;
}
.social-link ul li{
    /* float: right; */
    list-style: none;
    display: inline-block;
}
.social-link ul li a{
    font-size: 15px;
    background-color: #48baff;
    color: #fff;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}
.social-link ul li a:hover{}
/*footer part css end*/